<div class="container">
  <div class="row">
    <div class="col">
      <p> <img src="https://www.amaysim.com.au/sites/default/files/2017-04/lock_dash_mint.svg"> no lock-in contracts </p>
      <p>Freedom to switch your plan or cancel at anytime.</p>
    </div>
    <div class="col">
      <p> <img src= "https://www.amaysim.com.au/sites/default/files/2017-04/join_dash_mint.svg"> simple to join </p>
      <p>Quick and easy online sign-up, we’ll take care of all the fiddly bits.</p>
    </div>
    <div class="col">
      <p> <img src= "https://www.amaysim.com.au/sites/default/files/2017-04/app_dash_mint.svg"> easy to manage </p>
      <p>Download our app or manage your plans online.</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img src="https://www.amaysim.com.au/sites/default/files/styles/coloured_callout_2x/public/cta/2017-05/mobile%20plans.png?itok=69f-sg5G" height="300px" width="300px">

    </div>
    <div class="col">
      <img src="https://www.amaysim.com.au/sites/default/files/styles/coloured_callout_2x/public/cta/2017-05/nbn.png?itok=YemmV9dC" height="300px" width="300px">

    </div>
    <div class="col">
      <img src="https://www.amaysim.com.au/sites/default/files/styles/coloured_callout_2x/public/cta/2017-05/data%20only.png?itok=dGtEaTb5" height="300px" width="300px">
  
    </div>
  </div>
